/*.user_div{
    margin-bottom: 110px;
}*/

.top_div{
    margin-bottom: 60px;
}

#home_btn{
    background-image: url("../../images/home.png");
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
    background-size: 40px 40px;
    cursor: pointer;
    transition: background-size 200ms;
}

#home_btn:hover{
    background-size: 50px 50px;
}

.assign_popup{
    width:300px;
    height: 460px;
    top:12%;
    left:38%;
    transition: all 5s ease-in-out;
    position: relative;
  }

  .type_sel{
      border:1px solid #3b3b3b;
      border-radius: 5px;
      outline:none;
      height: 23px;
  }